.anime-item{
  padding: var(--pg-padding);
  display: flex;
  flex-direction: column;
  gap: var(--pg-gap);
}
.item-details{
  display: grid;
  gap: var(--details-gap);
}
.item-aside{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item-thumb{
  width: var(--thumb-width);
  height: var(--thumb-height);
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  align-self: center;
}
.item-basic-details{
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: var(--details-gap);
}

.reload-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--blue-700);
  align-self: center;
  font-size: var(--fs-m);
  display: grid;
  place-content: center;
  position: relative;
}

.item-type,
.item-season,
.item-year{
  font-size: var(--fs-xxs);
  font-weight: 500;
  padding: 5px 17px;
  border: 1px solid var(--blue-700);
  color: var(--blue-700);
  border-radius: 50px;
  text-transform: capitalize;
}

.item-type{
  background-color:var(--blue-700) ;
  color: var(--white);
}

.item-states{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.item-en-title{
  font-size: var(--fs-m);
  font-weight: 600;
  color:var(--white);
  text-transform: capitalize;
}
.item-title{
  font-size: var(--fs-s);
  text-transform: capitalize;
  color: var(--blue-300);
}
.item-status{
  font-size: var(--fs-xxs);
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.531);
  color: rgba(255, 255, 255, 0.85);
}
.item-aired,
.item-score,
.item-popularity,
.item-rating,
.item-studio,
.item-episode,
.item-duration,
.item-favs,
.item-members,
.item-source
{
  display: grid;
  grid-template-columns: 80px 1fr;
  & span{
    color: rgba(255, 255, 255, 0.70);
    font-size: 0.9rem;
    &:first-of-type{
      color: rgba(4, 181, 251, 0.802);
    }
  }
}

.genre-title{
  font-weight: 500;
  color:var(--blue-100);
}
.item-genres{
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  & div{
    font-size: var(--fs-xxs);
    border: 1px solid rgba(34, 137, 240, 0.788);
    border-radius: 5px;
    padding: 5px 10px;
  }
}
.synopsis h2{
  font-size: var(--fs-b);
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(84, 157, 229, 0.935);
}
.synopsis-icon{
  font-size: var(--fs-s);
}

.item-showmore{
  border: 1px solid rgba(34, 137, 240, 0.788);
  border-radius: 5px;
  background:none;
  color: rgba(34, 137, 240, 0.788);
  font-weight: 400;
  font-size: var(--fs-xxs);
  padding: 2px 8px;
  margin-left: 4px;
}

.synopsis p{
  margin-top:var(--fs-s);
  font-size: var(--fs-xs);
  padding:var(--fs-s);
  border-radius: 4px;
  line-height: 22px;
  border: 0.2px solid rgba(255, 255, 255, 0.528);
}
.trailer h2{
  display: flex;
  align-items: end;
  gap: 5px;
  font-size: var(--fs-m);
  padding: 5px;
  color:rgba(84, 157, 229, 0.935);
}
.vid-icon{
  font-size: var(--fs-m);
}

iframe{
  display: block;
  width: clamp(200px,100%,600px);
  margin-inline: auto;
  margin-block: 5px;
  aspect-ratio: 9/6;
}
.char-page-nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  & button{
    background-color: rgba(34, 137, 240, 0.788);
    border: 1px solid white;
    width: var(--btn-width);
    height: var(--btn-height);
    font-size: var(--fs-s);
    border-radius: 3px;
    cursor: pointer;
  }
}

.characters{
  display: grid;
  grid-template-columns: repeat(auto-fit,130px);
  justify-content: space-evenly;
  gap: 0.7rem;
}

.characters-part> h2{
  font-size: var(--fs-b);
  font-weight: 600;
  margin-bottom: 15px;
  color: rgba(84, 157, 229, 0.935);
}

.backBtn{
  color: var(--blue-500);
  font-size: var(--fs-xxs);
  position: absolute;
  top: var(--fs-s);
  left: var(--fs-xxs);
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  &:hover{
    color: var(--blue-600);
  }
}

@media (min-width:760px){
  .item-basic-details{
    flex-direction: row;
    align-items: center;
  }
  .item-aside,
  .item-details{
    flex-grow: 1;
  }
  
}
